*.aux
*.fdb_latexmk
*.fls
*.gz
*.idx
*.ilg
*.ind
*.log
*.out
*.pdf
*.synctex.gz
*.synctex.gz(busy)
*.synctex
*.synctex(busy)
*.synctex.gz.sum.synctex
*.toc
*.xdv
*.thm
*.snm
*.nav
*.vrb
*.bbl
*.xdy
*.ist
*.run.xml
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.sym
*.sbl
*.bcf
*.lof
*.lot
*.lol
*.loa
*.blg